@{
    ViewBag.Title = "Despre noi";
}

<div align="center">
    <br>
    <p>
        Pornind de la conceptia: <i>"o floare este binevenita la orice ocazie, oricand"</i>,
        magazinul virtual <b>"Flower of life"</b> vine in intampinarea unui nou segment de clienti printr-o metoda usoara si rapida de comandare si livrare in timp util.
        Ne dorim ca florile pe care le iubim atat de mult, sa ajunga in casele si inimile cat mai multor oameni,
        sa le bucure privirea si sufletul, sa transmita mesaje si emotii care sunt mai presus de cuvinte...
    </p>
</div>