@page
@model OnlineStore.Views.App.IndexModel
@{
    ViewBag.Title = "Acasa";
}

<div class="row">
    <img src="~/img/background-4.jpg" />
        <!--
            <div class="product-info">
                <img src="~/img/ls.jpg" />
                <h3>Mini buchet </h3>
                <ul class="product-props">
                    <li>Pret</li>
                    <li>Descriere</li>
                </ul>
                <button id="buyButton" class="btn btn-success">Adauga in cos</button>
            </div>

            <div id="theForm">
                <form>
                    <label>Nume utilizator</label>
                    <br />
                    <input />
                    <br />
                    <label>Parola</label>
                    <br />
                    <input type="password" />
                    <br />
                    <label>Adresa de e-mail</label>
                    <br />
                    <input type="email" />
                    <br />
                    <label>Subiect</label>
                    <br />
                    <input type="text" />
                    <br />
                    <label>Review</label>
                    <br />
                    <textarea rows="4"></textarea>
                    <br />
                    <input type="submit" value="Trimite review" />
                </form>
            </div>

            <div>
                <div id="loginToggle">Login</div>
                <form class="popup-form">
                    <div>
                        <label>Nume utilizator</label>
                        <input />
                    </div>
                    <div>
                        <label>Parola</label>
                        <input type="password" />
                    </div>
                    <div>
                        <input type="checkbox" />
                        <label>Tine-ma minte</label>
                    </div>
                    <div>
                        <input type="submit" value="Conecteaza-te" />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3">
            <p>gkdgskjfdjksdfksagfjksagdjfkgjas</p>
        </div>
        -->
    </div>
